* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Hubot Sans", sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a6e36; /* Dark green background */
    position: relative;
    padding-top: 50px;
}

.gameTable {
    width: 500px;
    height: 300px;
    background-image: url("./assets/ninja/gameScreen.jpg");
    display: flex;
    background-size: cover;
    flex-direction: column;
    position: relative;
    border: 2px solid #173e1c; /* Dark green border */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.gameTable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay for contrast */
    z-index: 1;
}

.gameTable > * {
    position: relative;
    z-index: 2;
}
.field {
    width: 33.33%;
    height: 33.33%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    border: 1px solid #2f4f2f;
    position: absolute;
    transition: left 0.3s ease, top 0.3s ease; /* Smooth transition for left and top */
    top: 0;
    left: 0;
}

.field.pos-0-0 {
    left: 0%;
    top: 0%;
}

.field.pos-0-1 {
    left: 33.33%;
    top: 0;
}

.field.pos-0-2 {
    left: 66.66%;
    top: 0;
}

.field.pos-1-0 {
    left: 0;
    top: 33.33%;
}

.field.pos-1-1 {
    left: 33.33%;
    top: 33.33%;
}

.field.pos-1-2 {
    left: 66.66%;
    top: 33.33%;
}

.field.pos-2-0 {
    left: 0;
    top: 66.66%;
}

.field.pos-2-1 {
    left: 33.33%;
    top: 66.66%;
}
.crazy {
    z-index: 1000;
    width: 100% !important;
    height: 100% !important;
}

.field.pos-2-2 {
    left: 66.66%;
    top: 66.66%;
}
.field:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Soft white glow on hover */
}
.score {
    width: 500px;
    display: none;
    justify-content: space-between;
    color: #e2e8d8; /* Light greenish text color */
}

.containerSteps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.7); /* Darkened overlay for modal */
    z-index: 999;
    padding: 20px;
    color: #e2e8d8; /* Light greenish text color */
}

h3 {
    margin: 20px 0;
    color: #e2e8d8; /* Light greenish text for headings */
}

label {
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    color: #c8d6c8; /* Soft green for labels */
}

input[type="radio"] {
    display: none;
}

.radio-container {
    position: relative;
    padding-left: 30px;
    margin-right: 10px;
    color: #c8d6c8;
}

.radio-container input[type="radio"]:checked + .custom-radio {
    background-color: #4caf50;
    border-color: #4caf50;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
}

#overlay p {
    position: absolute;
    color: #e2e8d8; /* Light greenish text */
    font-size: 1.2rem;
    margin: 0;
    padding: 10px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

#overlay p:nth-of-type(1) {
    top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
}

#overlay p:nth-of-type(2) {
    top: 15%;
}

#overlay img {
    position: absolute;
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
}

#overlay .loading-spinner {
    visibility: hidden !important;
}

#playStopButton {
    width: 100px;
    cursor: pointer;
}

#overlay.loading-overlay .loading-spinner {
    visibility: visible !important;
}
.loading-spinner {
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 252, 252, 0.1);
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    animation: spin-overlay 1s linear infinite;
    z-index: 10;
}
#overlay.loading-overlay p,
#overlay.loading-overlay img {
    display: none;
}



.custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #c8d6c8; /* Border color matches label */
    border-radius: 50%;
    background-color: #2f4f2f; /* Dark green background for radio */
    transition: background-color 0.3s, border-color 0.3s;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3d8e3c; /* Slightly darker green on hover */
}

button.loading {
    pointer-events: none;
    position: relative;
    padding-left: 2rem;
}
button#endSimulationBtn {
    background-color: #af504c;
}
#stopSimulationBtn:hover {
    background-color: #d2322c;
}
button.loading::before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}


/* end message */

/* Modal background overlay */
.bgEffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* Modal container */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4caf50;
    text-align: center;
    margin: 20px;
}

.modal button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.modal button:hover {
    background-color: #45a049;
}


/* Ensure overlay takes full space during loading-overlay */

@keyframes spin-overlay {
    from {
        transform:  rotate(0deg);
    }
    to {
        transform:  rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}


/* Mobile adjustments */
@media (max-width: 568px) {
    .container {
        padding: 30px;
    }

    .gameTable {
        width: 350px; /* Full width */
        height: 220px; /* 70% of the width */
        border: 1px solid #173e1c;
    }
    

    #overlay p {display: none;}

    .score {
        width: 100%; /* Ensure score fits within the container */
        font-size: 0.9rem; /* Slightly smaller text */
    }

    .containerSteps {
        padding: 10px; /* Reduce padding */
        font-size: 0.85rem; /* Adjust text size for readability */
    }

    h3 {
        font-size: 1.2rem; /* Smaller heading size */
    }

    label {
        font-size: 0.9rem; /* Smaller label font */
    }

    #overlay p {
        font-size: 1rem; /* Adjust text size */
    }

    #overlay img {
        bottom: 20%; /* Adjust positioning */
        width: 60px; /* Smaller image size */
    }

    button {
        padding: 8px 16px; /* Smaller buttons */
        font-size: 0.9rem;
    }

    .modal {
        width: 90%; /* Reduce modal width for smaller screens */
        padding: 15px;
    }

    .modal p {
        font-size: 1.2rem; /* Smaller modal text */
    }

    .modal button {
        padding: 8px 16px;
    }
}
